body{
    background: url("about-college.jpg")
    no-repeat center fixed;
    background-size:cover ;
}

.namee{
   text-align: center;
}



#boxx{
    background-color: black;
    width: 60%;
    margin: 200px auto;
    opacity: 0.7;
    border-radius: 20px;
}
h4{
    text-align: center;
}
.col{
    color: rgb(0, 173, 253);
}
#wel{
    color: rgb(255, 0, 0);
}
